<h1 class='text-center'>My Destinations</h1>

<table class='table'>
  <tr>
    <th>Name</th>
    <th>Trip</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @destinations.each do |destination| %>
  <tr>
    <td><%= destination.name %></td>
    <td><%= destination.trip.name %></td>
    <td><%= destination.description %></td>
    <td><%= link_to 'Show', destination, class: "btn" %></td>
    <td><%= link_to 'Edit', edit_destination_path(destination), class: "btn btn-warning" %></td>
    <td><%= link_to 'Destroy', destination, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
  </tr>
<% end %>
</table>

<br />